.principal
{
	max-width: 800px;
	margin: auto;

}
.panel-heading
{
	height: 25px;
	line-height: 25px;
}
.panel-heading > h5
{
	height: 25px;
	line-height: 0px;
	margin-top: 2px;
	font-weight: bold;
}