<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
	<title>Felicidades</title>
</head>
<body>
<h1><div class="alert alert-success" role="alert">Felicidades {{name}} {{lastname}} Se ha registrado con exito
</div></h1>
</body>
</html>