<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <title>Login</title>
</head>
<body class="container">
    <div class="row">
<div class="col-md-3"></div>
<div class="col-xs-12 col-md-6" style="">
    <div class="panel panel-info">
    <div class="panel-heading">
            <h4>Acceso</h4>
    </div>
    <div class="panel-body">
    <form class="col-md-12" method="POST" action="">
         {% csrf_token %}
        <div class="form-group">
            <input type="text" name="username" value="{{form.username.value}}" class="form-control input-lg" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control input-lg" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Sign In</button>
        </div>
    </form>
</div>
    </div>
</div>
<div class="col-md-3"></div>
</div>
</body>
</html>