<html>
<head>
	<title>Activities</title>
  <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
   
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
  <script type="text/javascript" src="{% static 'scrips/bootstrap.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="{% static 'scrips/jquery-git2.js' %}"></script>
  <script type="text/javascript" src="{% static 'scrips/bootstrap.js' %}"></script>
</head>
<body>
	 
  <nav class="navbar navbar-default panel-info" role="navigation">
   <div class="navbar-inner">
    <img src="{% static 'images/logovidazul.jpg'%}">

  </div>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     	 <ul class="nav navbar-nav">
     	 		
     	 </ul>
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/manager/log_out">Log Out</a></li>
            <li><a href="/manager/register">New User</a></li>
          </ul>
        </li>
      </ul>
     </div>
  </div>
</nav>
<div class="panel panel-info">
	<div class="panel-heading">
			<h4>Lista de actividades</h4>
	</div>
	<div class="panel-body">

{% for activity in activities %}
<div class="well col-xs-6 col-md-6">
<div class="row">
<div class="col-xs-6 col-md-6">
<h4>INFORMACION ACTIVIDAD {{activity.date_inserted}}</h4>
<hr>
<p><b>Tipo de Actividad:</b>{{activity.activityType}}</p>
<hr>
<p><b>Peso de la basura:</b>{{activity.trashWeigth}} Libras</p>
<hr>
<p><b>Tipos de basura</b>:
<hr>
{% for key,value in activity.trashTypeDict.items%}
<ul><b>{{key}}:</b>{{value}} Unidades</ul>
<hr>
{% endfor %}
</p>
</div>
<div class="col-xs-6 col-md-6">
  <h4>USUARIO</h4>
  <hr>
  <P><b>Name:</b>{{activity.user.name}} {{activity.user.lastname}}</P>
  <hr>
  <p><b>Email:</b>{{activity.user.mail}}</p>
  <hr>
  <p><b>Ocupation:</b>{{activity.user.ocupacion}}</p>
  <hr>
  <p><b>Edad:</b>{{activity.user.age}}</p>
  <hr>
  <p><b>Sexo:</b>{{activity.user.sex}}</p>
  <hr>
</div>
</div>
<div class="row">
{% for photo in  activity.getPhotos%}
  <div class="col-xs-6 col-md-3">
    <a href="{{photo.image.url}}" class="thumbnail">
      <img height="200" width="200" src="{{photo.image.url}}" data-src="{{photo.image.url}}" alt="...">

    </a>
  </div>

{% endfor %}
</div>

<div class="panel-footer">
<button id="geolocationView" class="btn btn-success" onclick="load({{activity.getlatitude}},{{activity.getLongitude}},'{{activity.getName}}')">View Location</button>

</div>
<div>

</div>
</div>
{% endfor %}

</div>

</div>

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="modal-title" style="float:left">Geolocation</h4>&nbsp;<h4 class="modal-title" id="amountModal" style="float:left"></h4>
        <div style="clear:both"></div>
      </div>
      <div class="modal-body">
          <div id="map-canvas">

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal">Cerrar</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</div>
</div>

<script type="text/javascript">

var map;
function initialize(latitude,longitude,nombre) {
  var myLatlng = new google.maps.LatLng(latitude,longitude);
  var mapOptions = {
    zoom: 11,
    center: myLatlng
  }
  map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: nombre
  });
}

var count = 0;
function load(latitude,longitude,nombre){

count++;

$('.modal').modal('show');
if(count>1){
var center = new google.maps.LatLng(latitude,longitude)
map.panTo(center)
google.maps.Map.prototype.clearMarkers()
var marker = new google.maps.Marker({
                position: center,
                map: map,
                title: nombre
            });

}else{
initialize(latitude,longitude,nombre);
}
}


google.maps.Map.prototype.markers = new Array();

google.maps.Map.prototype.getMarkers = function() {
    return this.markers
};

google.maps.Map.prototype.clearMarkers = function() {
    for(var i=0; i<this.markers.length; i++){
        this.markers[i].setMap(null);
    }
    this.markers = new Array();
};

google.maps.Marker.prototype._setMap = google.maps.Marker.prototype.setMap;

google.maps.Marker.prototype.setMap = function(map) {
    if (map) {
        map.markers[map.markers.length] = this;
    }
    this._setMap(map);
}
</script>
</body>
</html>