<html>
<head>
	{% load staticfiles %}
	 <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
	<title>New User</title>
</head>
<body>
<div class="container">
    <div class="row">
    	<div class="panel panel-info">
	<div class="panel-heading">
			<h4>Registro</h4>
	</div>

	<div class="panel-body">
        <form action="" method="post">
        	{{error}}
          {% if form.errors %}
		    <p class="error">Sorry, that's not a valid username or password</p>
		  {% endif %}
	      {{ form.as_p }}
	       {% csrf_token %}
	      <input type="submit" value="Create the account">
 	 	</form>
       </div>
       </div>
    </div>
</div>
<script type="text/javascript">

document.querySelector("#password2").keyup = function(){
	if(document.querySelector("#password2").value==document.querySelector("#password").value){
		document.querySelector("#passwordError").innerHTML = "";

	}else{
		document.querySelector("#passwordError").innerHTML = "The pass does not match";
	}
}

document.querySelector("#email2").keyup = function(){
	if(document.querySelector("#email2").value==document.querySelector("#email").value){
		document.querySelector("#emailError").innerHTML = "";

	}else{
		document.querySelector("#emailError").innerHTML = "The email's does not match";
	}
}

</script>
</body>
</html>