<!DOCTYPE html>
<html>
<head>
 {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
 <link rel="stylesheet" media="(min-width: 800px)" href="{% static 'css/desktop.css'%}" />
 <link rel="stylesheet" media="(max-width: 1000px)" href="{% static 'css/movile.css'%}" />
 <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'css/multiple-select.css' %}">
 <script src="{% static 'scrips/jquery-git2.js' %}"></script>
 <script src="{% static 'css/jquery.multiple.select.js' %}"></script>
 <title>Informacion Actividad</title>
 <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
 <meta charset="utf-8">
 <style>
.input-group
{
   margin-bottom: 1%;
}
.errorsDiv
{
  color:red;
  font-weight: bold;
}
.span3{
  width: 100%;
}

.slider.slider-horizontal
{
  width: 100% !important; 
}
/*.navbar{
  background-color:rgb(); 
  }*/
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="{% static 'scrips/bootstrap-slider.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/slider.css'%}">
  <script type="text/javascript" src="{% static 'scrips/ActivityInformation.js'%}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-multiselect.css' %}">
  <script type="text/javascript" src="{% static 'scrips/bootstrap-multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'scrips/bootstrap.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-default panel-info" role="navigation">
   <div class="navbar-inner">
    <img src="{% static 'images/logovidazul.jpg'%}">
  </div>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
  </div>
</nav>
<div class="container">
  <div class="principal">
   <form role="form" method="post" action="" enctype='multipart/form-data'>
    <div class="panel panel-primary">
     <div class="panel-heading">
      <h5> INFORMACION ACTIVIDAD</h5>
    </div>
    {% csrf_token %}
    <div class="panel-body">
      <div class="errorsDiv">
       {{form.errors}}
     </div>
     <div class="input-group">
       <span class="input-group-addon alert-success">Actividad:
       </span>
       <select class="form-control" name="activityType">
        {% for key, value in activities.items %}
        <option value="{{key}}">{{value}}</option>
        {% endfor %}
      </select>
    </div>
    <hr>
    <div class="input-group">
       <span class="input-group-addon alert-success">Participantes:
       </span>
       <input name="participants" class="form-control" type="number" pattern="\d+" required/>
    </div>
    <hr>
    <div class="errorsDiv">
     {{form.mail.errors}}
   </div>
   <div class="input-group">
     <span  id="locationMessage" class="input-group-addon alert-success">
      Localizacion gps no esta activada o su navegador no lo soporta
    </span>
    <input class="form-control" id="place" style="display:none" readonly />
    <input class="form-control" readonly style="display:none" name="geolocation" id="geolocation"/>
  </div>
  <div class="input-group">
   <div id="map-canvas"></div>
 </div>
 <hr>
 <div class="input-group">

 </div>
 <div class="well input-group">
  <span  id="TrashString" class="input-group-addon alert-success">
    Peso Total basura Libras :
  </span>
  <input style="margin-left:8px" type="text" class="span2" name="trashWeigth" id="trashWeigth" value="0" data-slider-min="0" data-slider-max="20" data-slider-value="0" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
</div>
<div class="input-group">

</div>
<div class="input-group" style="margin:auto">
  <img src="{% static 'images/trashv2x1.png' %}" id="trashweight1" style="display:block;float:left"/>
  <img src="{% static 'images/trashv2x2.png' %}" id="trashweight2" style="display:none;float:left"/>
  <img src="{% static 'images/trashv2x3.png' %}" id="trashweight3" style="display:none;float:left"/>
  <div style="clear:both"></div>
</div>
<hr>
<div class="input-group">
  <span  id="TrashString" class="input-group-addon alert-success">
    Tipo de Basura
  </span>
</div>
<div class="input-group">
  <span  id="TrashString" class="input-group-addon alert-success">
    Seleccione tipo de basura:
  </span>
    <select class="multiselect" multiple="multiple">
          {% for key, value in trashTypes.items %}
          <option value="{{key}}">{{value}}</option>
          {% endfor %}
    </select>
    <input style="display:none" name="trashType" id="trashtypeinputvalue">
</div>
<hr>

<div class="input-group">
<span  id="TrashString" class="input-group-addon alert-success">
    Fotos:
  </span> 
<input class="form-control" id="images" name="file" type="file" accept="image/*" multiple>
</div>
</div>

</div>
<div class="input-group" style="float:right">
    <input type="submit" class="btn btn-success"  style="float:right" value="Finalizar"> 
</div>
</form>

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="modal-title" style="float:left">Modal title</h4>&nbsp;<h4 class="modal-title" id="amountModal" style="float:left"></h4>
        <div style="clear:both"></div>
      </div>
      <div class="modal-body">
        <div class="input-group" style="width:100%">
        <input id="trashTypeSlider" style="margin-left:8px" type="text" class="span4" value="0" data-slider-min="0" data-slider-max="20" data-slider-value="0" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="hide">
        <div class="input-group">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="close-modal" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</div>
</div>
<script>
var trashTypes = {};
$(document).ready(function(){
  $('.multiselect').multipleSelect({selectAll: false
    ,onClick: function(view) {
      if(view.checked==true){rangeModal(view.value);}
      else{
        trashTypes[view.value] = null;
      }
    }
  });


});
$("#close-modal").click(function()
  {
    console.log("closed");
    trashTypes[''+$("#modal-title").text()] = $('#trashTypeSlider').val();
    $("#trashtypeinputvalue").val(JSON.stringify(trashTypes));
  });
$('.span4').on('slide', function(ev){
  $('#amountModal').text("X"+ev.value);
})
function rangeModal(texto)
{
  $('.modal').modal('show');
  $('#modal-title').text(texto);
  $(".span4").slider('setValue',0);
  $('#amountModal').text("");
}

</script>
</body>
</html>