<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
  <link rel="stylesheet" media="(min-width: 800px)" href="{% static 'css/desktop.css'%}" />
  <link rel="stylesheet" media="(max-width: 1000px)" href="{% static 'css/movile.css'%}" />
 <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <style type="text/css">
  .input-group
  {
   margin-bottom: 5%;
 }
 .errorsDiv
 {
  color:red;
  font-weight: bold;
}

</style>
<title>UserInformation</title>
</head>
<body  class="container">
  <nav class="navbar navbar-default" role="navigation">
   <div class="navbar-inner">
  <img src="{% static 'images/logovidazul.jpg'%}">
   </div>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
  </div>
</nav>
  <div class="principal">
    <form role="form" method="post" action="">
      <div style="color:red">
       {{ form.non_field_errors }}
     </div>
     {% csrf_token %}
     <div class="panel panel-primary">
      <div class="panel-heading"><h5 style="text-align:center">INFORMACION USUARIO<h5></div>

      <div class="panel-body">
        <div class="errorsDiv">{{ form.mail.errors }}</div>
        <div class="input-group">
          <span class="input-group-addon alert-success">Correo:</span>
          <input type="email" value="{{form.mail.value}}" name="mail" class="form-control" placeholder="Correo"required>
        </div>
        <div class="errorsDiv">{{ form.name.errors }}</div>
        <div class="input-group " >
          <span class="input-group-addon alert-success">Nombre</span>
          <input type="text" name="name" value="{{form.name.value}}" class="form-control" placeholder="usuario" required>
        </div>

        <div class="errorsDiv">{{ form.lastname.errors }}</div>
        <div class="input-group">
         <span class="input-group-addon alert-success">Apellido</span>
         <input type="text" name="lastname" class="form-control" value="{{form.lastname.value}}" placeholder="Apellido" required>
         
       </div>



       <div class="errorsDiv">{{ form.ocupacion.errors }}</div>
       <div class="input-group">
        <span class="input-group-addon alert-success">Ocupacion:</span>
        <input type="text" class="form-control" value="{{form.ocupacion.value}}" name="ocupacion" placeholder="Ocupacion">
      </div>

      <div class="errorsDiv">{{ form.age.errors }}</div>
      <div class="input-group form-group-sm">
        <span class="input-group-addon alert-success">Edad:</span>
        <input type="number" class="form-control" value="{{form.age.value}}" placeholder="Age" name="age" max="100">
      </div>

      <div class="errorsDiv">{{ form.sex.errors }}</div>
      <div class="input-group">
        <span class="input-group-addon alert-success">Sexo:</span>
        <select type="text" class="form-control" name="sex" value="{{form.sex.value}}" placeholder="sexo">
          {% for key, value in sexChoises.items %}
          <option value="{{key}}">{{value}}</option>
          {% endfor %}
        </select>
      </div>

    </div>
  </div>
  <input type="submit"  class="btn btn-success" value="continuar">
  <form>
  </div>

</body>
</html>
