<html>
<head>
	<title>User Information</title>
</head>
<body>
<div>
	<h4>{{model.name}} {{model.lastname}}</h4>
	<hr>
	<p>Email:{{model.email}}</p>
	<hr>
	<p>Ocupation:{{model.ocupacion}}</p>
	<hr>
	<p>Edad:{{model.age}}</p>
	<hr>
	<p>Sexo:{{model.sex}}</p>
	<hr>
</div>
</body>
</html>